In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from vacay_key import g_key

In [7]:
# reading in cities csv from part 1
cities_df = pd.read_csv("../output_data/cities.csv",index_col=0)
cities_df

,id,city,temp,long,lat,humidity,cloudiness,wind speed
0,5848280,kapaa,18.22,-159.3190,22.0752,52,40,6.69
1,4074736,marshall,7.50,-86.3333,34.3834,100,1,2.13
2,3874787,punta arenas,13.94,-70.9167,-53.1500,77,0,3.09
3,5880054,barrow,-26.00,-156.7887,71.2906,76,90,8.23
4,2455216,kita,39.42,-9.4895,13.0349,8,4,2.77
...,...,...,...,...,...,...,...,...
561,2032614,baruun-urt,-6.44,113.2792,46.6806,93,85,5.20
562,2160413,leeton,23.00,146.4000,-34.5667,53,0,4.12
563,2094027,kieta,26.75,155.6333,-6.2167,80,100,3.13
564,1326105,falam,11.45,93.6833,22.9167,49,0,1.30
565,5513307,sun valley,2.27,-119.7760,39.5963,93,90,0.75

In [9]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [12]:
# testing out my fig
fig = gmaps.figure()

In [15]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["lat", "long"]].astype(float)
hum_pop =  cities_df["humidity"].astype(float)

In [20]:
# adding in heat layer for 
heat_layer = gmaps.heatmap_layer(locations, weights=hum_pop, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

# 
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Narrow down the DataFrame to find your ideal weather condition.

# ideal temp conditional
ideal_temp_df = cities_df.loc[cities_df["temp"] > 25]
# low wind
ideal_temp_wind_df = ideal_temp_df.loc[cities_df["wind speed"] < 4]
# lower humidity
ideal_df = ideal_temp_wind_df.loc[cities_df["humidity"] < 70]
ideal_df

,id,city,temp,long,lat,humidity,cloudiness,wind speed
4,2455216,kita,39.42,-9.4895,13.0349,8,4,2.77
18,1267390,kavaratti,27.98,72.6420,10.5669,62,5,2.99
19,3690935,vice,25.54,-80.7833,-5.4167,64,77,2.25
26,2388614,boda,39.85,17.4695,4.3189,8,100,0.76
55,370457,maridi,37.64,29.4742,4.9158,13,100,3.09
56,1256450,shivrajpur,28.00,73.6500,22.4167,30,100,2.06
68,358620,safaga,28.00,33.9365,26.7292,23,0,2.57
91,145724,lucapa,27.45,20.7447,-8.4192,61,20,3.00
98,3455049,paranhos,26.45,-55.4311,-23.8928,60,82,2.86
99,934649,cap malheureux,27.78,57.6142,-19.9842,65,10,2.68
107,364933,umm kaddadah,31.01,26.6876,13.6017,12,62,0.94
115,2444995,filingue,35.39,3.3168,14.3521,8,0,3.77
146,3671437,puerto leguizamo,28.56,-74.7819,-0.1934,61,18,2.23
147,2398929,mbigou,29.58,11.9060,-1.9005,53,91,1.74
155,3366880,hermanus,30.56,19.2345,-34.4187,50,0,3.13
174,3347353,menongue,27.70,17.6910,-14.6585,47,94,3.28
179,3438102,fuerte olimpo,30.22,-57.8738,-21.0415,50,99,1.47
180,1337613,kulhudhuffushi,27.78,73.0700,6.6221,65,0,3.08
193,1174872,karachi,29.00,67.0822,24.9056,13,41,3.09
194,217570,buta,39.24,24.7300,2.7858,12,96,1.09
222,6355222,yulara,33.00,130.9889,-25.2406,43,16,3.09
239,211647,lodja,34.05,23.4333,-3.4833,37,100,1.93
240,3639747,guigue,25.19,-67.7792,10.0853,53,8,1.40
254,6316343,alta floresta,28.00,-56.0861,-9.8756,69,40,2.57
263,3451234,rio claro,27.15,-47.5614,-22.4114,61,0,2.06
285,3459925,jequitinhonha,32.00,-41.0033,-16.4339,38,15,1.64
303,2065594,mount isa,30.00,139.5000,-20.7333,62,40,2.06
329,3633444,machiques,28.23,-72.5450,10.0644,49,28,2.99
350,2447513,arlit,33.14,7.3853,18.7369,8,0,1.10
445,218229,bongandanga,39.12,21.0500,1.5000,15,100,0.48
457,2259655,impfondo,38.63,18.0667,1.6381,15,24,1.28
458,961226,ritchie,31.00,24.6028,-29.0380,42,20,1.54
462,373303,juba,40.09,31.5825,4.8517,14,100,2.26
473,286621,salalah,29.00,54.0924,17.0151,28,0,3.60
481,3625710,upata,26.62,-62.3989,8.0086,54,4,2.92
489,2426370,oum hadjer,34.00,19.6966,13.2954,10,1,1.52
509,240210,birao,37.53,22.7882,10.2849,9,0,0.51
510,342711,barentu,32.33,37.5928,15.1139,15,75,2.99
511,3453546,pirapora,26.80,-44.9419,-17.3450,68,20,2.65
532,2246901,oussouye,34.00,-16.5469,12.4850,26,0,3.09
539,1011632,de aar,35.76,24.0123,-30.6497,12,1,3.53
545,2318123,yenagoa,33.13,6.2642,4.9247,53,54,3.06
546,2295517,savelugu,39.69,-0.8253,9.6244,8,70,2.11
548,2315026,kasongo-lunda,30.75,16.8167,-6.4667,52,86,1.98
557,2402715,yonibana,39.83,-12.2450,8.4447,25,0,1.00
560,370737,malakal,38.94,31.6605,9.5334,10,96,1.37

In [28]:
# renaming as hotel df
hotel_df = ideal_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

<ipython-input-28-e7785bdc487c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,id,city,temp,long,lat,humidity,cloudiness,wind speed,Hotel Name
4,2455216,kita,39.42,-9.4895,13.0349,8,4,2.77,
18,1267390,kavaratti,27.98,72.6420,10.5669,62,5,2.99,
19,3690935,vice,25.54,-80.7833,-5.4167,64,77,2.25,
26,2388614,boda,39.85,17.4695,4.3189,8,100,0.76,
55,370457,maridi,37.64,29.4742,4.9158,13,100,3.09,

In [41]:
# pulling in near by hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "types": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():

    params["location"] = f'{row["lat"]},{row["long"]}'
       
    name_address = requests.get(base_url, params)

    name_address = name_address.json()
    try:
        hotel_name = name_address["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\Users\alexa\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [40]:
hotel_df

,id,city,temp,long,lat,humidity,cloudiness,wind speed,Hotel Name
4,2455216,kita,39.42,-9.4895,13.0349,8,4,2.77,Kita
18,1267390,kavaratti,27.98,72.6420,10.5669,62,5,2.99,Kavaratti
19,3690935,vice,25.54,-80.7833,-5.4167,64,77,2.25,C.p la Union
26,2388614,boda,39.85,17.4695,4.3189,8,100,0.76,Boda
55,370457,maridi,37.64,29.4742,4.9158,13,100,3.09,Maridi
56,1256450,shivrajpur,28.00,73.6500,22.4167,30,100,2.06,Shivrajpur
68,358620,safaga,28.00,33.9365,26.7292,23,0,2.57,Safaga
91,145724,lucapa,27.45,20.7447,-8.4192,61,20,3.00,Lucapa
98,3455049,paranhos,26.45,-55.4311,-23.8928,60,82,2.86,Paranhos
99,934649,cap malheureux,27.78,57.6142,-19.9842,65,10,2.68,Grand Baie
107,364933,umm kaddadah,31.01,26.6876,13.6017,12,62,0.94,Umm Kadadda
115,2444995,filingue,35.39,3.3168,14.3521,8,0,3.77,Filingué
146,3671437,puerto leguizamo,28.56,-74.7819,-0.1934,61,18,2.23,Puerto Leguízamo
147,2398929,mbigou,29.58,11.9060,-1.9005,53,91,1.74,Mbigou
155,3366880,hermanus,30.56,19.2345,-34.4187,50,0,3.13,Hermanus
174,3347353,menongue,27.70,17.6910,-14.6585,47,94,3.28,Menongue
179,3438102,fuerte olimpo,30.22,-57.8738,-21.0415,50,99,1.47,Fuerte Olimpo
180,1337613,kulhudhuffushi,27.78,73.0700,6.6221,65,0,3.08,Kulhudhuffushi
193,1174872,karachi,29.00,67.0822,24.9056,13,41,3.09,Karachi
194,217570,buta,39.24,24.7300,2.7858,12,96,1.09,Buta
222,6355222,yulara,33.00,130.9889,-25.2406,43,16,3.09,Petermann
239,211647,lodja,34.05,23.4333,-3.4833,37,100,1.93,Lodja
240,3639747,guigue,25.19,-67.7792,10.0853,53,8,1.40,Guigue
254,6316343,alta floresta,28.00,-56.0861,-9.8756,69,40,2.57,Alta Floresta
263,3451234,rio claro,27.15,-47.5614,-22.4114,61,0,2.06,Rio Claro
285,3459925,jequitinhonha,32.00,-41.0033,-16.4339,38,15,1.64,Jequitinhonha
303,2065594,mount isa,30.00,139.5000,-20.7333,62,40,2.06,Mount Isa
329,3633444,machiques,28.23,-72.5450,10.0644,49,28,2.99,Machiques
350,2447513,arlit,33.14,7.3853,18.7369,8,0,1.10,Arlit
445,218229,bongandanga,39.12,21.0500,1.5000,15,100,0.48,Bongandanga
457,2259655,impfondo,38.63,18.0667,1.6381,15,24,1.28,Impfondo
458,961226,ritchie,31.00,24.6028,-29.0380,42,20,1.54,Ritchie
462,373303,juba,40.09,31.5825,4.8517,14,100,2.26,Juba
473,286621,salalah,29.00,54.0924,17.0151,28,0,3.60,Salalah
481,3625710,upata,26.62,-62.3989,8.0086,54,4,2.92,Upata
489,2426370,oum hadjer,34.00,19.6966,13.2954,10,1,1.52,Oum Hadjer
509,240210,birao,37.53,22.7882,10.2849,9,0,0.51,Birao
510,342711,barentu,32.33,37.5928,15.1139,15,75,2.99,Barentu
511,3453546,pirapora,26.80,-44.9419,-17.3450,68,20,2.65,Pirapora
532,2246901,oussouye,34.00,-16.5469,12.4850,26,0,3.09,Oussouye
539,1011632,de aar,35.76,24.0123,-30.6497,12,1,3.53,De Aar
545,2318123,yenagoa,33.13,6.2642,4.9247,53,54,3.06,Yenagoa
546,2295517,savelugu,39.69,-0.8253,9.6244,8,70,2.11,Savelugu
548,2315026,kasongo-lunda,30.75,16.8167,-6.4667,52,86,1.98,Kasongo-Lunda
557,2402715,yonibana,39.83,-12.2450,8.4447,25,0,1.00,Yonibana
560,370737,malakal,38.94,31.6605,9.5334,10,96,1.37,Malakal

In [59]:
# adding labels for hotels
hotels = hotel_df["Hotel Name"].astype(object)
locations_hotel = hotel_df[["lat", "long"]].astype(float)

print(len(hotels))
print(len(locations_hotel))

46
46

In [61]:
#marker_layer = gmaps.marker_layer(locations_hotel, label=hotels )
    ###this isn't working
marker_layer = gmaps.marker_layer(locations_hotel)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))